#container
{
  background-color: black;
  padding-bottom: 19%;

}
#IPs
{
  text-decoration: underline double;
  font-weight: 800;
  color:silver;
}
.info
{
  margin-top: 20px;
  color: white;
}
.infoprimary
{
    border: 5px double silver;
    border-radius: 10px;
    margin-top: 40px;
}
