#navbar
{
  background: url("assets/fond-ardoise.jpg");
  border: 2px solid black;
}
#dta
{
  width: 60px;
  padding-top: 1px;
}
#bonjour
{
  color:red;
  font-weight: 600;
  text-decoration: underline;
  line-height: 45px;
}
#exit
{
  line-height: 45px;
}
