#bordering
{
  padding-top: 15px;
  border: 5px outset black;
  background: url("assets/fond-ardoise.jpg");
}
#form
{
  margin-top: 8%;
}
#titre
{
  color:white;
  font-weight: 600;
  font-size: 15px;
  text-decoration: underline;
}

#emailtxt,#emailtxtconf,#passwordtxt,#passwordtxtconf,#prenomtxt,#nomtxt
{
  color:white;
}


#container
{
  background-color: black;

  padding-bottom: 15.5%;
}
