<thead>
  <link rel="stylesheet" href="./css/authenticate.css">
</thead>
<tbody>
  <div class="container-fluid" id="container">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6">
        <form id="form" method="post" action="./controller/login.php">
          <fieldset id="bordering">
            <div class="col-lg-offset-3 col-lg-6" id="titre"><center> Veuillez vous connecter </center></div>
            <div class="form-group col-lg-offset-3 col-lg-6">
              <label class="control-label" for="email" id="emailtxt">Email:</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Entrer votre mail">
            </div>
            <div class="form-group col-lg-offset-3 col-lg-6">
              <label class="control-label" for="pwd" id="pwdtxt">Password:</label>
              <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Entrer votre mot de passe">
            </div>
            <div class="form-group col-lg-offset-3 col-lg-6">
                <center><texte id="probleme"><?php echo "$probleme"; ?></texte></center>
            </div>
            <div class="form-group col-lg-offset-3 col-lg-6">
                <center><button type="submit" class="btn btn-default">Submit</button></center>
            </div>
            <div class="form-group col-lg-offset-3 col-lg-6">
              <center>
                <a href="?w=inscription">
                  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                   Inscrivez-Vous
                   <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                 </a>
               </center>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</tbody>
