<thead>
  <link rel="stylesheet" href="./css/infos.css">
</thead>
<tbody>
  <div class="container-fluid" id="container">
    <div class="row">
      <div class="col-lg-offset-1 col-lg-3 infoprimary">
          <center><H4 id="IPs">Informations Personnels:<H4></CENTER>
          <div class="col-lg-12 info">
            <texte>Votre nom: <?php echo $_SESSION['nom'];?></texte>
          </div>
          <div class="col-lg-12 infolink">
            <a href="#">Modifier votre nom ?</a>
          </div>
          <div class="col-lg-12 info">
            <texte>Votre prenom: <?php echo $_SESSION['name'];?></texte>
          </div>
          <div class="col-lg-12 infolink">
            <a href="#">Modifier votre prenom ?</a>
          </div>
          <div class="col-lg-12 info">
            <texte>Votre mail: <?php echo $_SESSION['mail'];?></texte>
          </div>
          <div class="col-lg-12 infolink">
            <a href="#">Modifier votre e-mail ?</a>
          </div>
      </div>

    </div>
  </div>
</tbody>
