<thead>
  <link rel="stylesheet" href="./css/logged.css">
</thead>
<tbody>
  <div class="container-fluid" id="container">
    <div class="col-lg-6">
      <center><u><h4>Administrations de vos Tableaux</h4></u></center>
      <?php foreach ($_SESSION['tableau'] as $key) { ?>
        <center><p class="tableau"><?php echo $key; ?></p></center>';
        <center><a class="view" href="./controller/view.php?table=<?php echo $key; ?>">Consulter la table</a> /
        <a class="delete" href="./controller/delete.php?table=<?php echo $key; ?>">Supprimer la table</a> /
        <a class="add" href="./controller/add.php?table=<?php echo $key; ?>">Ajouter un utilisateur</a> /
        <a class="remove" href="./controller/remove.php?table=<?php echo $key; ?>">Supprimer un utilisateur</a></center>
      <?php } ?>
    </div>
    <div class="col-lg-2">
      <center><u><h4>Outils</h4></u></center>
      <br>
      <center><a id="first" href="#">Creer un tableau</a></center>
      <center><form class="creerTableau" action="./controller/table.php" method="post">
        <input type="texte" name="nomformulaire" id="nomformulaire"  placeholder="Nom de la table" required>
        <input type="submit" id="submit">
        </br>
        <texte id='nomformulaireinfo'>Entre 3 et 10 caractères.</texte>
      </form></center>
      <hr>
      <center><a href="#" id="exporter">Exporter un tableau</a></center>
        <center><SELECT name="nom" size="1" id="select">
          <OPTION selected> Veuillez choisir une table
          <?php foreach ($_SESSION['tableau'] as $key)
          {
          echo '<OPTION>'.$key.'</center>';
          }
          ?>
      </SELECT></center>
    </div>
    <div class="col-lg-offset-1 col-lg-3">
      <center><u><h4>Consulter les logs</h4></u></center>
      <center><SELECT name="nom" size="1">
          <OPTION selected> Veuillez choisir une table
          <?php foreach ($_SESSION['tableau'] as $key)
          {
          echo '<OPTION>'.$key.'</center>';
          }
          ?>
      </SELECT></center>
    </div>

  </div>
  <script src="./js/logged.js"></script>
</tbody>
