<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- BO tags obligatoire en premier -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- EO tags obligatoire en premier -->

    <!-- BO suite head -->
    <title>Bienvenue !</title>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/menu.css">
    <!-- EO suite head -->
</head>
  <tbody>
    <div class="container-fluid">
      <div class="row" id="navbar">
        <div class="col-lg-1">
          <center><img src="./css/assets/dta.png" alt="logo_projet" id="dta"/></center>
        </div>
        <div class="col-lg-offset-4 col-lg-2">
          <center><a href="./"><img src="./css/assets/trello.png" alt="logo_projet" id="titre"/></a></center>
        </div>
        <div class="col-lg-offset-1 col-lg-2">
          <center><texte id="bonjour">Greetings:</texte>
          <a href="<?php (isset($_SESSION['name'])) ? print "?w=Infos" : print "?w=Human"; ?>" id="user">
            <?php (isset($_SESSION['name'])) ? print $_SESSION['name'] : print "Human"; ?>
          </a></center>
          </div>

          <?php
          if(isset($_SESSION['name']))
          {
          echo '<div class="col-lg-2">';
          echo "<center>";
          echo '<a id="exit" href="?w=logout">Se deconnecter ';
          echo '<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>';
          echo "</a></center>";
          echo "</div>";
          }
          ?>
      </div>
  </div>



    <!-- BO librairie -->
    <script src="./lib/jquery/jquery-3.1.1.min.js"></script>
    <script src="./lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- EO librairie -->
  </tbody>
</html>
