<thead>
  <link rel="stylesheet" href="./css/noob.css">
  <embed src="./css/assets/X-files.mp3" autostart="true" loop="false" hidden="true"></embed>
</thead>
<tbody>
  <div class="container-fluid" id="container">
    <div class="row">
      <div class="col-lg-12">
        <center><img src="./css/assets/Illuminati-Logo.png" alt="illuminati" id="illuminati" /></center>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <center><img src="./css/assets/human.png" alt="human" id="human" /></center>
      </div>
    </div>
  </div>
</tbody>
