<thead>
  <link rel="stylesheet" href="./css/signup.css">
  <script src="./js/signup.js"></script>
</thead>
<tbody>
  <tbody>
    <div class="container-fluid" id="container">
      <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
          <form id="form" action="./controller/signup.php" method="post" >
            <fieldset id="bordering">
              <div class="col-lg-offset-3 col-lg-6" id="titre"><center> Merci de bien vouloir remplir les champs </center></div>
              <div class="form-group col-lg-offset-3 col-lg-6">
                <center><label for="prenom" id="prenomtxt">Votre prenom:</label></center>
                <center><input type="text" name="prenom" id="prenom" required>&nbsp;<span id="prenomicon" aria-hidden="true"></span></center>
              </div>
              <div class="form-group col-lg-offset-3 col-lg-6">
                <center><label for="nom" id="nomtxt">Votre nom:</label></center>
                <center><input type="text" name="nom" id="nom" required>&nbsp;<span id="nomicon" aria-hidden="true"></span></center>
              </div>
              <div class="form-group col-lg-offset-3 col-lg-6">
                <center><label for="email" id="emailtxt">Votre e-mail:</label></center>
                <center><input type="email" name="mail" id="email" required>&nbsp;<span id="emailicon" aria-hidden="true"></span></center>
              </div>
              <div class="form-group col-lg-offset-3 col-lg-6">
                <center><label for="emailconf" id="emailtxtconf">Confirmer votre e-mail:</label></center>
                <center><input type="email" name="mailconf" id="emailconf" required>&nbsp;<span id="emailconficon" aria-hidden="true"></span></center>
              </div>
              <div class="form-group col-lg-offset-3 col-lg-6">
                <center><label for="password" id="passwordtxt">Votre mot de passe:</label></center>
                <center><input type="password" name="password" id="password" required>&nbsp;<span id="passwordicon" aria-hidden="true"></span></center>
              </div>
              <div class="form-group col-lg-offset-3 col-lg-6">
                <center><label for="passwordconf" id="passwordtxtconf">Confirmer votre mot de passe:</label></center>
                <center><input type="password" name="passwordconf" id="passwordconf" required>&nbsp;<span id="passwordconficon" aria-hidden="true"></span></center>
              </div>
              <div class="form-group col-lg-offset-3 col-lg-6">
                <center><input type="submit" id="submit"></center>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </tbody>
</tbody>
