<thead>
  <link rel="stylesheet" href="./css/table.css">
</thead>
<tbody>
  <div class="container-fluid" id="container">
    <div class="row">
      <div class="col-lg-12">
      <center>Vous consulter actuellement le tableau : <?php echo $_SESSION['viewtable']; ?></center>
      </div>
    </div>
  </div>
</tbody>
