<thead>
  <link rel="stylesheet" href="./css/welcome.css">
</thead>
<tbody>
  <div class="container-fluid" id="container">
    <div class="row">
      <div class="col-lg-offset-3 col-lg-6">
          <center><texte class="white">Félicitations, vous avez été inscrit, merci de bien vouloir vous connecter.</texte></center>
      </div>
      <div class="col-lg-offset-3 col-lg-6">
          <center><span class="glyphicon glyphicon-arrow-right white" aria-hidden="true"></span><a href="./"> Cliquez ici pour revenir à la page d'accueil.</a> <span class="glyphicon glyphicon-arrow-left white" aria-hidden="true"></span></center>
      </div>
    </div>
  </div>
</tbody>
